* {
  margin: 0px;
}
body {
  background: linear-gradient(90deg, #da4453 0%, #89216b 100%);
  font-family: sans-serif;
}

.box .header {
  width: 900px;
  height: 80px;
  background-color: white;
  border-radius: 10px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.box .header .homeContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #57b648;
  width: 80px;
  height: 80px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  left: 0;
  transition: all 400ms;
}
.box .header .homeContainer:hover {
  background-color: #8d236b;
}
.box .header .homeContainer:hover h4{
  letter-spacing: 1.5px;
}
.box .header .homeContainer #home {
  width: 40px;
  height: 40px;
  margin: 7px;
}
.box .header .homeContainer h4 {
  color: white;
  font-weight: 400;
  transition: all 400ms;
}
.box .header .phoneName {
  font-size: 40px;
  font-weight: 600;
  width: 500px;
  height: 50px;
  text-align: center;
  margin-left: 50px;
}
.box .header .cartBox .cart {
  background-image: url('./img/supermarket.png');
  background-size: 30px 27px;
  background-repeat: no-repeat;
  width: 30px;
  height: 27px;
}
.box .header .cartBox .cart .counter {
  background-color: red;
  color: white;
  width: 15px;
  height: 15px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  border-radius: 45%;
}
.box .header .signOutBox .signOut {
  background-image: url('./img/logout.png');
  background-size: 30px 27px;
  background-repeat: no-repeat;
  width: 30px;
  height: 27px;
}
.box .listing {
  width: 900px;
  background-color: white;
  border-radius: 10px;
  height: 500px;
  margin-top: 20px;
  margin: auto;
  display: flex ;
}
.box .listing .imgContainer img {
  height: 350px;
  margin-bottom: 30px;
}
.box .listing .imgContainer {
  padding: 20px;
  text-align: center;
}
.box .listing .imgContainer button {
  margin: 10px;
  background-color: #57b648;
  color: white;
  font-weight: 600;
  font-size: 17px;
  width: 200px;
  height: 40px;
  outline: 0;
  border: 0;
  border-radius: 25px;
  transition: all 200ms;
}
.box .listing .imgContainer button:hover {
  background-color: #8d236b;
  letter-spacing: 1px;
}
.box .specs {
  margin: 20px;
}
.box .specs tr:nth-child(odd) {
  background-color: #e9e9e9;
}
.box .specs td:first-child {
  padding-right: 20px;
  font-weight: bold;
}
.box .specs td {
  padding: 5px;
}
.box .cartContainer {
  position: fixed;
  width: 400px;
  right: 50px;
  border-radius: 10px;
  background-color: white;
  min-height: fit-content;
  max-height: 600px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);

}
.box .cartContainer .topBar {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
}
.box .cartContainer .topBar .infoText {
  width: fit-content;
  margin-left: 20px;
}
.box .cartContainer .topBar img {
  width: 20px;
  /* align-self: start; */
  margin: 5px;
}
.box .cartContainer .listContainer ul {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 512px;
  padding: 0;
}
.box .cartContainer .listContainer ul .deleteListItem {
  height: 100px;
  width: 30px;
  background-color: #57b648;
}
.box .cartContainer .listContainer ul .deleteListItem:hover {
  background-color: red;
}
.box .cartContainer .listContainer ul .deleteListItem img{
  width: 30px;
  height: 30px;
}
.box .cartContainer .listContainer ul li {
  border-bottom: 1px solid #666;
  list-style-type: none;
  height: 100px;
  display: flex;
}
.box .cartContainer .listContainer ul li img {
  height: 90px;
  margin: 5px;
}
.box .cartContainer .listContainer ul li div {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  width: 280px;
}
.box .cartContainer .listContainer ul li div h4 {
  align-self: flex-end;
  font-size: large;
  margin-right: 10px;
}
.box .cartContainer .botBar {
  height: 44px;
  box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.box .cartContainer .botBar .totalText {
  margin-right: 10px;
}